web/WEB-INF/wsdl/www.sepahansms.net/smsSendWebServiceforphp.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SmsText" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="MobileNumber" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sendType" type="tns:SendType" />
            <s:element minOccurs="1" maxOccurs="1" name="smsMode" type="tns:SmsMode" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="SendType">
        <s:restriction base="s:string">
          <s:enumeration value="StaticText" />
          <s:enumeration value="DynamicText" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="SmsMode">
        <s:restriction base="s:string">
          <s:enumeration value="Alert" />
          <s:enumeration value="SaveInPhone" />
          <s:enumeration value="SaveInSim" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SendSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSmsResult" type="tns:ArrayOfLong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLong">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="long" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendSingleSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SmsText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MobileNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="smsMode" type="tns:SmsMode" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSingleSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendSingleSmsResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsUDH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SmsText" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="MobileNumber" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="SenderNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sendType" type="tns:SendType" />
            <s:element minOccurs="1" maxOccurs="1" name="smsMode" type="tns:SmsMode" />
            <s:element minOccurs="0" maxOccurs="1" name="UDH" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsUDHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSmsUDHResult" type="tns:ArrayOfLong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCredit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCreditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCreditResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceiveSMSWithNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="RecType" type="tns:ReceiveType" />
            <s:element minOccurs="0" maxOccurs="1" name="LineNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Count" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="FromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="ReceiveType">
        <s:restriction base="s:string">
          <s:enumeration value="All" />
          <s:enumeration value="UnRead" />
          <s:enumeration value="Top" />
          <s:enumeration value="Down" />
          <s:enumeration value="WithDate" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetReceiveSMSWithNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReceiveSMSWithNumberResult" type="tns:ArrayOfReceiveSMS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReceiveSMS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ReceiveSMS" nillable="true" type="tns:ReceiveSMS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReceiveSMS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReceiveNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SmsText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FromNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Error" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetReceiveSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="RecType" type="tns:ReceiveType" />
            <s:element minOccurs="1" maxOccurs="1" name="Count" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="FromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceiveSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReceiveSMSResult" type="tns:ArrayOfReceiveSMS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCountAllResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LineNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDelivery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smsId" type="tns:ArrayOfLong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeliveryResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSingleDelivery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SmsId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSingleDeliveryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSingleDeliveryResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllDelivery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SmsId" type="tns:ArrayOfLong" />
            <s:element minOccurs="0" maxOccurs="1" name="LineNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllDeliveryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllDeliveryResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendFutureSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LineNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SmsText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendFutureSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendFutureSmsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFutureSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FutureId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFutureSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteFutureSmsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSendFuture">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FutureSmsId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSendFutureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckSendFutureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSmsSoapIn">
    <wsdl:part name="parameters" element="tns:SendSms" />
  </wsdl:message>
  <wsdl:message name="SendSmsSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsResponse" />
  </wsdl:message>
  <wsdl:message name="SendSingleSmsSoapIn">
    <wsdl:part name="parameters" element="tns:SendSingleSms" />
  </wsdl:message>
  <wsdl:message name="SendSingleSmsSoapOut">
    <wsdl:part name="parameters" element="tns:SendSingleSmsResponse" />
  </wsdl:message>
  <wsdl:message name="SendSmsUDHSoapIn">
    <wsdl:part name="parameters" element="tns:SendSmsUDH" />
  </wsdl:message>
  <wsdl:message name="SendSmsUDHSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsUDHResponse" />
  </wsdl:message>
  <wsdl:message name="getCreditSoapIn">
    <wsdl:part name="parameters" element="tns:getCredit" />
  </wsdl:message>
  <wsdl:message name="getCreditSoapOut">
    <wsdl:part name="parameters" element="tns:getCreditResponse" />
  </wsdl:message>
  <wsdl:message name="GetReceiveSMSWithNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetReceiveSMSWithNumber" />
  </wsdl:message>
  <wsdl:message name="GetReceiveSMSWithNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetReceiveSMSWithNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetReceiveSMSSoapIn">
    <wsdl:part name="parameters" element="tns:GetReceiveSMS" />
  </wsdl:message>
  <wsdl:message name="GetReceiveSMSSoapOut">
    <wsdl:part name="parameters" element="tns:GetReceiveSMSResponse" />
  </wsdl:message>
  <wsdl:message name="GetCountAllSoapIn">
    <wsdl:part name="parameters" element="tns:GetCountAll" />
  </wsdl:message>
  <wsdl:message name="GetCountAllSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountAllResponse" />
  </wsdl:message>
  <wsdl:message name="GetCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetCount" />
  </wsdl:message>
  <wsdl:message name="GetCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeliverySoapIn">
    <wsdl:part name="parameters" element="tns:GetDelivery" />
  </wsdl:message>
  <wsdl:message name="GetDeliverySoapOut">
    <wsdl:part name="parameters" element="tns:GetDeliveryResponse" />
  </wsdl:message>
  <wsdl:message name="GetSingleDeliverySoapIn">
    <wsdl:part name="parameters" element="tns:GetSingleDelivery" />
  </wsdl:message>
  <wsdl:message name="GetSingleDeliverySoapOut">
    <wsdl:part name="parameters" element="tns:GetSingleDeliveryResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllDeliverySoapIn">
    <wsdl:part name="parameters" element="tns:GetAllDelivery" />
  </wsdl:message>
  <wsdl:message name="GetAllDeliverySoapOut">
    <wsdl:part name="parameters" element="tns:GetAllDeliveryResponse" />
  </wsdl:message>
  <wsdl:message name="SendFutureSmsSoapIn">
    <wsdl:part name="parameters" element="tns:SendFutureSms" />
  </wsdl:message>
  <wsdl:message name="SendFutureSmsSoapOut">
    <wsdl:part name="parameters" element="tns:SendFutureSmsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFutureSmsSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFutureSms" />
  </wsdl:message>
  <wsdl:message name="DeleteFutureSmsSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFutureSmsResponse" />
  </wsdl:message>
  <wsdl:message name="CheckSendFutureSoapIn">
    <wsdl:part name="parameters" element="tns:CheckSendFuture" />
  </wsdl:message>
  <wsdl:message name="CheckSendFutureSoapOut">
    <wsdl:part name="parameters" element="tns:CheckSendFutureResponse" />
  </wsdl:message>
  <wsdl:portType name="smsSendWebServiceforPHPSoap">
    <wsdl:operation name="SendSms">
      <wsdl:input message="tns:SendSmsSoapIn" />
      <wsdl:output message="tns:SendSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSingleSms">
      <wsdl:input message="tns:SendSingleSmsSoapIn" />
      <wsdl:output message="tns:SendSingleSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsUDH">
      <wsdl:input message="tns:SendSmsUDHSoapIn" />
      <wsdl:output message="tns:SendSmsUDHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCredit">
      <wsdl:input message="tns:getCreditSoapIn" />
      <wsdl:output message="tns:getCreditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReceiveSMSWithNumber">
      <wsdl:input message="tns:GetReceiveSMSWithNumberSoapIn" />
      <wsdl:output message="tns:GetReceiveSMSWithNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReceiveSMS">
      <wsdl:input message="tns:GetReceiveSMSSoapIn" />
      <wsdl:output message="tns:GetReceiveSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCountAll">
      <wsdl:input message="tns:GetCountAllSoapIn" />
      <wsdl:output message="tns:GetCountAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <wsdl:input message="tns:GetCountSoapIn" />
      <wsdl:output message="tns:GetCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDelivery">
      <wsdl:input message="tns:GetDeliverySoapIn" />
      <wsdl:output message="tns:GetDeliverySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSingleDelivery">
      <wsdl:input message="tns:GetSingleDeliverySoapIn" />
      <wsdl:output message="tns:GetSingleDeliverySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDelivery">
      <wsdl:input message="tns:GetAllDeliverySoapIn" />
      <wsdl:output message="tns:GetAllDeliverySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendFutureSms">
      <wsdl:input message="tns:SendFutureSmsSoapIn" />
      <wsdl:output message="tns:SendFutureSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFutureSms">
      <wsdl:input message="tns:DeleteFutureSmsSoapIn" />
      <wsdl:output message="tns:DeleteFutureSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckSendFuture">
      <wsdl:input message="tns:CheckSendFutureSoapIn" />
      <wsdl:output message="tns:CheckSendFutureSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="smsSendWebServiceforPHPSoap" type="tns:smsSendWebServiceforPHPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSms">
      <soap:operation soapAction="http://tempuri.org/SendSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSingleSms">
      <soap:operation soapAction="http://tempuri.org/SendSingleSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsUDH">
      <soap:operation soapAction="http://tempuri.org/SendSmsUDH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCredit">
      <soap:operation soapAction="http://tempuri.org/getCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceiveSMSWithNumber">
      <soap:operation soapAction="http://tempuri.org/GetReceiveSMSWithNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceiveSMS">
      <soap:operation soapAction="http://tempuri.org/GetReceiveSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountAll">
      <soap:operation soapAction="http://tempuri.org/GetCountAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <soap:operation soapAction="http://tempuri.org/GetCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDelivery">
      <soap:operation soapAction="http://tempuri.org/GetDelivery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleDelivery">
      <soap:operation soapAction="http://tempuri.org/GetSingleDelivery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDelivery">
      <soap:operation soapAction="http://tempuri.org/GetAllDelivery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFutureSms">
      <soap:operation soapAction="http://tempuri.org/SendFutureSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFutureSms">
      <soap:operation soapAction="http://tempuri.org/DeleteFutureSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSendFuture">
      <soap:operation soapAction="http://tempuri.org/CheckSendFuture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="smsSendWebServiceforPHPSoap12" type="tns:smsSendWebServiceforPHPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSms">
      <soap12:operation soapAction="http://tempuri.org/SendSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSingleSms">
      <soap12:operation soapAction="http://tempuri.org/SendSingleSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsUDH">
      <soap12:operation soapAction="http://tempuri.org/SendSmsUDH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCredit">
      <soap12:operation soapAction="http://tempuri.org/getCredit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceiveSMSWithNumber">
      <soap12:operation soapAction="http://tempuri.org/GetReceiveSMSWithNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceiveSMS">
      <soap12:operation soapAction="http://tempuri.org/GetReceiveSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountAll">
      <soap12:operation soapAction="http://tempuri.org/GetCountAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <soap12:operation soapAction="http://tempuri.org/GetCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDelivery">
      <soap12:operation soapAction="http://tempuri.org/GetDelivery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleDelivery">
      <soap12:operation soapAction="http://tempuri.org/GetSingleDelivery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDelivery">
      <soap12:operation soapAction="http://tempuri.org/GetAllDelivery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFutureSms">
      <soap12:operation soapAction="http://tempuri.org/SendFutureSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFutureSms">
      <soap12:operation soapAction="http://tempuri.org/DeleteFutureSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSendFuture">
      <soap12:operation soapAction="http://tempuri.org/CheckSendFuture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="smsSendWebServiceforPHP">
    <wsdl:port name="smsSendWebServiceforPHPSoap" binding="tns:smsSendWebServiceforPHPSoap">
      <soap:address location="http://www.sepahansms.net/smsSendWebServiceforphp.asmx" />
    </wsdl:port>
    <wsdl:port name="smsSendWebServiceforPHPSoap12" binding="tns:smsSendWebServiceforPHPSoap12">
      <soap12:address location="http://www.sepahansms.net/smsSendWebServiceforphp.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>